<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

<a th:href="@{/class}" class="btn btn-info btm-sm"><h2>수업 관리</h2></a>

<a th:href="@{/student}" class="btn btn-info btm-sm"><h2>학생 정보 관리</h2></a>

<a th:href="@{/attendances}" class="btn btn-info btm-sm"><h2>출석 체크</h2></a>

<a th:href="@{/paidFee}" class="btn btn-info btm-sm"><h2>벌금 결제 관리</h2></a>

<a th:href="@{/}" class="btn btn-info btm-sm">Back to Index Page</a>


</body>
</html>