<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Info</title>
</head>
<body>

<div id = "container">
    <div id = "content">

        <table>
            <tr>
                <th>Name</th>
                <th>Major</th>
                <th>BirthDate</th>
                <th>Email</th>
                <th>Gender</th>

            <tr>
                <td th:text="${details.getName()}">detail</td>
                <td th:text="${details.getMajor()}">detail</td>
                <td th:text="${details.getBirthDate()}">detail</td>
                <td th:text="${details.getEmail()}">detail</td>
                <td th:text="${details.getGender()}">detail</td>
            <tr>
            </tr>
        </table>
        <a th:href="@{/myPage}" class="btn btn-info btm-sm">Back to My Page</a>
    </div>
</div>

</body>
</html>