<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Attendance</title>
</head>
<body>
    <form method="post" th:object="${attendances}" th:action="@{/attedances/saveAttendance}">
        <p th:text="${aClass.getDate()}"></p>
            <ul style="list-style-type: none">
                <li>
                    <div th:each="student: ${students}" >
                        <td th:text = "${student.getName()}"></td>
                        <td>
                            <input th:field="${student}" />
                        </td>
                    </div>
                <li>
            </ul>
            <div><input type="submit" value="Save" class="save"/> </div>
    </form>
</body>
</html>