<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check Attendance</title>
</head>
<body>
    <form method="post" th:object="${attendanceList}" th:action="@{/attendances/saveAttendances}">
        <p th:text="${aClass.getDate()}"></p>
            <ul style="list-style-type: none">
                <li>
                    <th:block th:each="attendance, i : ${attendanceList.attendances}" >
                        <div>
                        <td th:text = "${students.get(__${i.index}__).getName()}"></td>
<!--                        <td th:text="*{attendances[__${i.index}__].AClass.date}">-->
                        <td>
                            <select class="form-control" name = "check" th:field="*{attendances[__${i.index}__].check}">
                                <option th:each="checkValue : ${T(com.github.project.attendancecheck.model.AttendanceCheck).values()}"
                                        th:value="${checkValue.name()}"
                                        th:text="${checkValue.name()}">
                                    val
<!--                            <input type="hidden" th:field="*{attendances[__${i.index}__].AClass.id}" th:value="${aClass.id}" />-->
<!--                            <input type="hidden" th:field="*{attendances[__${i.index}__].student}" th:value="student"/>-->
                                </option>
                            </select>
                        </td>
                        </div>
                    </th:block>
                <li>
            </ul>
            <tr>
                <td><label></label></td>
                <td><input type="submit" value="Save" class="save"/></td>
            </tr>
    </form>
</body>
</html>