<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List for Getting Attendances</title>
</head>
<body>

    <div id = "container">
        <div id = "content">

            <table>
                <tr>
                    <th>Student List</th>
                </tr>
                <tr th:each="student : ${students}">
                    <td th:text="${student.getName()}">student</td>
                    <td>
                        <a th:href="@{/attendances/getStudentAttendances(studentId=${student.id})}" class="btn btn-info btm-sm">Show Attendance of Student</a>
                    </td>
                    <td>
                        <a th:href="@{/attendances/getStudentFee(studentId=${student.id})}" class="btn btn-info btm-sm">Show Penalty Fee of Student</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/attendances}" class="btn btn-info btm-sm">Back to Attendance Index Page</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>