<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
    <title>Attendance Check</title>
</head>
<body>
    <h2>This is Attendance Check Home Page</h2>

    <a th:href="@{/admin}" class="btn btn-info btm-sm" sec:authorize="hasRole('ROLE_ADMIN')">Admin Page</a>

    <a th:href="@{/myPage}" class="btn btn-info btm-sm" sec:authorize="hasRole('ROLE_USER')">My Page</a>

    <a th:href="@{/budget}" class="btn btn-info btm-sm">show Budget</a>

    <a class="btn btn-secondary my-2 mr-2 my-sm-0" th:href="@{/account/login}"
       sec:authorize="!isAuthenticated()">로그인</a>
    <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/account/register}"
       sec:authorize="!isAuthenticated()">회원가입</a>
    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
        <span class="text-blue" sec:authentication="name">사용자</span>
        <span class="text-blue mx-2" sec:authentication="principal.authorities">권한</span>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
    </form>
</body>
</html>